# Virtual environment
venv/
.env

# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Jupyter notebook checkpoints
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Model file (jika besar, lebih baik exclude)
student_model.pkl

# Editor
.vscode/
.idea/

venv/
__pycache__/
*.pyc
*.pkl
sql_app.db

